body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boardPage {
    padding: 1rem;
}

.cityTable {
  margin: 1rem 0rem; 
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  height: 280px;
}

.cityCell {
  display: flow;
  flex: 1 1;
  width: 115px;
  opacity: 0.8;
}

.cityCell:hover {
  background-color: rgb(240, 240, 250);
  opacity: 1.0;
}